<h1> Edit Picture </h1>

<%= link_to "Back", @picture %>

<%= form_for @picture do |f| %>
  <div>
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
