<h1>Add a Picture</h1>

<div class="buttons"><%= link_to "Back to Pictures", pictures_url %></div>

<%= form_for @picture do |f| %>
<div>
  <div class="input_box">
    <ul>
      <li class="input">
        <%= f.label :artist %>
        <%= f.text_field :artist %>
      </li>
      <li class="input">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <li class="input">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </li>
    </ul>
  </div>
</div>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
